<!DOCTYPE html>
<html lang="en">
<body class="corpo">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Inicio</title>
</head>
    <h1 class="titulo">
        <img class="img1" src="https://github.com/GabrielBarbxsaaZx999/testee.github.io/blob/main/Logo.png?raw=true"
            alt="Logo">
    </h1>
    <br>
    <div class="botoes">
        <input class="pesquisar" placeholder="Pesquisar...">
        <button onclick="mudarPagina()" class="cadastro">Cadastre-se</button>
        <button onclick="Entrar()" class="login">Entrar</button>
    </div>

    <br>
        <button class="butao" onclick="quemsomos()">Quem somos?</button>
        <button class="butao" onclick="redirectAgendar()">Agendar consultas</button>
        <button class="butao" onclick="redirectAjuda()">Ajuda</button>
    <br>
        <hr class="linha1" size="0" width="200">
        <hr class="linha2" size="0" width="260">
        <hr class="linha3" size="0" width="90">
        <br>
        <br>
        <br>
        
        <button class="buton" onclick="redirectOnde()">Onde estamos localizados?</button>
        <button class="buton" onclick="redirectOutros()">A maior riqueza é a saúde</button>
        <button class="buton" onclick="redirectOutros()">Saúde traz felicidade</button>
        <br>
        <br>
        <br>
        <br>
        <div class="texto2">
            Cuidar da <span style="color: #00A6FB;">saúde</span> e <span style="color: #00A6FB;">bem-estar</span> também
            é se <span style="color: #00A6FB;">amar</span>
        </div>

    <footer class="rodape">
        <h3>
            Todos os direitos reservados©
        </h3>
    </footer>


    <style>
     *{
   margin: 0px;
   padding: 0px;
   font-family: Helvetica;
   
}

body {
    
    height: 100vh; /* Define a altura do corpo para ocupar 100% da altura da viewport */
    background: url('https://github.com/TheVitin/imagens-telainicio-ubuntu/blob/main/imagemfundo.png?raw=true');
    background-size: cover;
    overflow-y: hidden; /* Remove a barra de rolagem vertical */

}

/* ... (código CSS existente) ... */


.titulo{
background-color: #00A6FB;
height: 55px;
}

.corpo{
background-color: #eee;
border-top: 8px solid #00A6FB;
}

.pesquisar{
background-color: #fff;
width: 750px;
height: 39px;
margin-left: 280px;
margin-right: 150px;
font-size: 20px;
text-align: left;
border-radius: 10px;
border-color:#116D9C;
}
/* ... (código CSS existente) ... */

.cadastro {
    background-color: #116D9C;
    float: right; /* Adiciona o alinhamento à direita */
    margin-right: 50px; /* Ajusta a margem para espaçamento */
    height: 39px;
    width: 130px;
    font-size: 15px;
    border-color: #116D9C;
    color: #fff;
}

.login {
    background-color: #00A6FB;
    float: right; /* Adiciona o alinhamento à direita */
    margin-right: 20px; /* Ajusta a margem para espaçamento */
    height: 39px;
    width: 120px;
    font-size: 15px;
    border-color: #00A6FB;
    color: #fff;
}

/* ... (código CSS existente) ... */

.cadastro:hover{
transform: scale(1.1);
transition: all 0.5s;
background-color: #00A6FB;
border-color: #00A6FB;
}
.login:hover{
transform: scale(1.1);
transition: all 0.5s;
background-color: #116D9C;
border-color: #116D9C;
}
.texto {
font-size: 22px;
}
.texto2{
font-size: 30px;
margin-left: 60px;
max-height: 100px;
width: 400px;
}
.buton{
width: 210px;
height: 180px;
margin-left: 60px;
margin-right: 40px;
border-color: #fff;
background-color: solid #fff;
font-size: 15px;
border-radius: 10px;
font-size: 25px;

}
.buton:hover{
transform: scale(1.1);
transition: all 0.5s;
background-color: #00A6FB;
border-color: #00A6FB;
}
.linha1{
margin-left: 150px;

}
.linha2{
margin-left: 650px;

}
.linha3{
margin-left: 1200px;

}

.botoes{
   border: 10px solid transparent;
}

.img1{
   margin-left: 15px;
   height: 50px;
   width: 160px;

}


.rodape{
   text-align: left;
   padding: 14px;
   background-color: #00A6FB;
   margin-top: 45px;
   color: #fff;
   margin-top: 360px;
}


.butao{
   background-color: transparent;
   border-color: transparent;
   margin-right: 120px;
   margin-left: 150px;
   font-size: 30px;
   padding: 10px;
}
    </style>

    <script>
        function mudarPagina() {
            // Altera a localização (URL) para a nova página
            window.location.href = "cadastro";
        }

        function Entrar() {
            // Altera a localização (URL) para a nova página
            window.location.href = "login2";
        }

        function quemsomos() {
            // Altera a localização (URL) para a nova página
            window.location.href = "quemsomos";
        }
    </script>
</body>

</html>